body {

    overflow-x: hidden;
    font-family: "Barlow Semi Condensed", sans-serif;

    #section-header-2 {

        background-image: linear-gradient(150deg, hsla(234, 100%, calc(63% - 20%), 100%) 0%, hsla(357, 100%, calc(63% - 20%), 100%) 100%);

    }

}