$testo-rosso: #fb3b40;
$testo-argento: #bcbcbc;
$dodger-blue: #4154fe;
$white: #ffffff;
$soft-green: #65bc7b;
$yellow: #f9e339;
$ferrari-red: #ff0000;
$backgrounds: (
    1: '/img/service6-2x.jpg',
    2: '/img/box1-2x.jpg',
    3: '/img/box3-2x.jpg',
);